{
  "ConnectionStrings": {
    "DefaultConnection": "Server=.;Database=TibrDb;Trusted_Connection=true;TrustServerCertificate=true;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Paymob": {
    "PublicKey": "",
    "SecretKey": "",
    "HmacSecret": "",
    "IntegrationId": "",
    "IframeId": "",
    "BaseUrl": "https://accept.paymob.com",
    "FrontendBaseUrl": "http://localhost:4200"
  },
  "AllowedHosts": "*"
}
